h3{
    display: flex;
    justify-content: center;
}
.forms{
    display: flex;
    justify-content: center;
}
.name{
    text-align: center;
}
.age{
    padding-top: 20px;
    text-align: center;
}
.hobby{
    padding-top: 20px;
    text-align: center;
}
.gender{
    padding-top: 20px;
    text-align: center;
}
.btn{
    padding-top: 30px;
    display: flex;
    justify-content: center;
}