<h3>form works!</h3>

<div class="form">
<form #myform="ngForm" action="">
    {{myform.value|json}}
    <!-- {{aObj|json}} -->
    <div class="form-group name">
        <label>Name</label>
        <!-- <input type="text" class="form-control" name="name" ngModel> -->
        <!-- <input type="text" class="form-control" name="name" [ngModel]="aObj.name"> -->
          <input type="text" class="form-control" name="name" [(ngModel)]="name">
    </div>
    <div class="form-group age">
    <label>Age</label>
        <!-- <input type="text" class="form-control" name="age" ngModel> -->
        <!-- <input type="text" class="form-control" name="age" [ngModel]="aObj.age"> -->
        <input type="text" class="form-control" name="age" [(ngModel)]="age">
    </div>
    <!-- {{a.hobby}} -->
    <div class="form-group hobby">
        <label>Hobby</label>
      <!-- <select name="hobby" [ngModel]="aObj.hobby">
        <option value="sing">Sing</option>
        <option value="dance">dance</option>
        <option value="cook">Cook</option> -->
        <select name="hobby" [(ngModel)]="hobby">
            <option value="sing">Sing</option>
            <option value="dance">dance</option>
            <option value="cook">Cook</option>

      </select>
    </div>
      

    <div class="form-group gender">
        <label>Gender</label>
            <!-- <input type="radio" name="gender" value="male" [ngModel]="aObj.gender">male
            <input type="radio" name="gender" value="female" [ngModel]="aObj.gender">female
            <input type="radio" name="gender" value="not prefer to say" [ngModel]="aObj.gender">not prefer to say -->
            <input type="radio" name="gender" value="male" [(ngModel)]="gender">male
            <input type="radio" name="gender" value="female" [(ngModel)]="gender">female
            <input type="radio" name="gender" value="not prefer to say" [(ngModel)]="gender">not prefer to say
            
        </div>
        <div class="btn">
        <button (click)="add()">ADD</button>
        <button (click)="update()">Update</button>
    </div>
</form>
</div>
